.country-info-panel {
  border-radius: 8px;
  background-color: #222; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
  font-family: Arial, sans-serif;
}

.country-info-panel h2 {
  font-size: 2.2em;
  margin-bottom: 16px;
  color: blueviolet;
  text-align: left;
}

.country-info-panel p {
  margin: 10px 0;
  color: white;
  line-height: 1.5;
  font-size: 23px;
}

.country-info-panel p:first-child {
  font-weight: bold;
  font-size: 1.2em;
}
