.MapContent {
  text-align: center;
  margin: 20px 0;
  color: white;
  background-color: #222;
}

.Left-Right-Sides {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  /* Add media query for transitioning to column layout on smaller screens */
  @media only screen and (max-width: 1248px) {
    flex-direction: column;
    align-items: center; /* Center items horizontally in column layout */
  }
}

.MapContainerWrapper {
  width: 70%;
  height: 80vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;

  /* Center .MapContainerWrapper within its parent using flexbox */
  margin-left: auto;
  margin-right: auto;
}

.Main-Text {
  width: 100%; /* Change width to 100% for smaller screens */
  padding: 20px;
  color: white;
  background-color: #222;
  border-radius: 10px;

  @media only screen and (min-width: 1248px) {
    width: 30%; /* Change width back to 30% for larger screens */
  }
}

.Secondary-Text-Area {
  flex: 1; /* Take remaining space */
  padding: 20px;
}

/* Add media query for transitioning to column layout on smaller screens */
@media only screen and (max-width: 768px) {
  .Main-Text,
  .MapContainerWrapper {
    width: 100%;
    margin-right: 0; /* Remove margin for full width */
  }
}

/* Style for the Main-Text headings */
.Main-Text h2 {
  color: blueviolet;
  font-weight: bold;
  font-size: 40px;
}

.Main-Text h3 {
  font-size: 28px;
  color: blueviolet;
  margin-top: 40px;
}

/* Style for the Main-Text paragraphs */
.Main-Text p {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: #ddd;
}

.legend {
  z-index: 1000;
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: center;
  align-items: start;
  top: 10px;
  right: 10px;
  background-color: rgb(128, 120, 120);
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

@media only screen and (max-width: 1248px) {
  .legend-item {
    margin: 5px; /* Add some space between items for better readability */
    font-size: 8px;
  }

}

@media only screen and (max-width: 768px) {
  .legend {
    flex-direction: column; /* Display items in a column */
    width: 140px;
  }

  .legend-item {
    margin-bottom: 5px; /* Add some space between items for better readability */
    font-size: 7px;
  }
  .legend-color{
    width: 10px;
    height: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .legend {
    flex-direction: column; /* Display items in a column */
 /* Align items to the start of the container */
    margin-left: 10px; /* Add margin to the left side of the legend */
  }

  .legend-item {
    width: auto; /* Allow items to take their own width */
    margin: 5px;
    font-size: 6px;
     /* Add some space between items for better readability */
  }
  .legend-color{
    width: 10px;
    height: 10px;
  }
}

.legend-item {
  display: flex;
  align-items: start;
}

.legend-color {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  align-items: start;
}
